In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, fpmax, fpgrowth
from mlxtend.frequent_patterns import association_rules

# COSC 757 Assignment 4: Association Rule Mining
https://archive.ics.uci.edu/ml/datasets/Tic-Tac-Toe+Endgame

In [13]:
#Read in the Tic Tac Toe Dataset
ttt_df = pd.read_csv("tic-tac-toe.data",header=None)
ttt_df.columns=[['top-left','top-middle','top-right','middle-left','middle-middle','middle-right','bottom-left','bottom-middle','bottom-right','Game Won by X']]
ttt_df

,top-left,top-middle,top-right,middle-left,middle-middle,middle-right,bottom-left,bottom-middle,bottom-right,Game Won
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive
...,...,...,...,...,...,...,...,...,...,...
953,o,x,x,x,o,o,o,x,x,negative
954,o,x,o,x,x,o,x,o,x,negative
955,o,x,o,x,o,x,x,o,x,negative
956,o,x,o,o,x,x,x,o,x,negative
957,o,o,x,x,x,o,o,x,x,negative

In [34]:
#Transform dataset into an associate rule learnable set
#Take one player (x) and build set of squares with an x
#e.g. [top-left,middle-middle,bottom-right,positive] is a set
x_moves = []
for game in ttt_df.iterrows():
    game_x_moves = []
    for col in ttt_df.columns:
        if game[1][col] == 'x':
            game_x_moves.append(col[0])
        elif col[0] == 'Game Won by X':
            game_x_moves.append(game[1][col])
    x_moves.append(game_x_moves)